.auth{
    @apply relative h-screen;

    & &__loginbtn{
        @apply absolute top-3/4 left-1/2 flex items-center justify-center gap-4 w-56 rounded-md;
        transform: translateX(-50%);
        background: #0000006e;
        padding: 0.4rem;
    }

    & &__companylogo{
        @apply absolute;
        width: 250px;
        height: 250px;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    & &__companyphrase{
        @apply absolute text-center w-full;
        top: 50%;
        font-size: 1.4rem;
        font-family: monospace;
    }
}