@tailwind base;
@tailwind components;
@tailwind utilities;
@import './reset.scss';

*{
    font-family: monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", ui-monospace;
}

.tui-image-editor-controls-logo{
    display: none !important;
}

body{
    background: #adbdc2;
}

#root{
    min-height: 100vh;
}